# SPDX-FileCopyrightText: 2024 University of Rochester
#
# SPDX-License-Identifier: MIT OR Apache-2.0
[package]
name = "abc-helper" # TODO: Change name when we decide on a good one.
version = "0.1.1"
edition = "2021"

[dependencies]
ffi-support = {version = "0.4.4", optional = true}
lazy_static = { version = "1.4.0"}
strum = "0.26.3"
strum_macros = "0.26.4"
thiserror = "1.0.63"
rustc-hash = "1.1.0"
log = "0.4.22"

[build-dependencies]
cbindgen = {version = "0.24.0", optional = true}

[lib]
crate-type = ["cdylib", "rlib"]

[features]
cffi = ["dep:ffi-support", "dep:cbindgen"]

[dev-dependencies]
rstest = "0.22.0"
